<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include common/head.ejs %>
</head>

<body>
<% include common/nav.ejs %>

    <div class="container main">


    </div>
<% include common/script.ejs %>
</body>
</html>