<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include common/head.ejs%>
</head>

<body>
<% include common/nav.ejs %>
<div class="container">
    <ol class="breadcrumb pull-right">
        <li class="active">主页</li>
    </ol>
</div>
<div class="container main">



</div>
<% include common/script.ejs%>
</body>
</html>
