<div class="col-sm-3 hidden-xs sidebar">
  <div class="sidebar-title">Search</div>

  <form action="//google.com/search" method="get" accept-charset="UTF-8" target="_blank">
    <div class="input-group">
      <input class="form-control" name="q" type="text">
      <input type="hidden" name="sitesearch" value="http://dawei.lv">
          <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Search</button>
          </span>
    </div>
  </form>
  <div class="sidebar-title">Recent Posts</div>
  <ul class="recent-posts">
    <% data.latestArticles.forEach(function (article) {
    %>
    <li><a href="/article/<%=article.seo_url%>"><%=article.name%></a></li>
    <%
    })%>
  </ul>
  <div class="sidebar-title">Categories</div>
  <ul class="categories">
    <% data.categorys.forEach(function (category) {
    %>
    <li><a href="/category/<%=category.name%>"><%=category.name%></a></li>
    <%
    })%>
  </ul>

</div>