.md-editor{
    position: relative;
}

.md-editor .tab-content{
    padding-top: 10px;
}

.md-editor textarea{
    background-color: #fafafa;
}

.md-editor textarea:focus{
    background-color: #fff;
    outline: none;
}

/*.md-tool{*/
    /*position: absolute;*/
    /*top: 6px;*/
    /*right:0*/
/*}*/
.md-tool .dropdown-menu{
    min-width: 0;
}

.md-tool .md-h1 {
    font-size: 22px;
    font-weight: bold;
}

.md-tool .md-h2 {
    font-size: 20px;
    font-weight: bold;
}

.md-tool .md-h3 {
    font-size: 18px;
    font-weight: bold;
}

.md-tool .md-h4 {
    font-size: 16px;
    font-weight: bold;
}

.md-tool .md-h5 {
    font-size: 14px;
    font-weight: bold;
}

.md-tool .md-h6 {
    font-size: 12px;
    font-weight: bold;
}

.md-tool .md-btn{
    outline: none;
}

.md-content{
    padding:5px 10px;
}
.md-content img{
    max-width: 100%;
}

#mdUploadImgBtn{
    border: dotted #ccc 2px;
    line-height: 40px;
    text-align: center;
    color: #999999;
}

#mdUploadImgBtn:hover{
    border: dotted #B3B3B3 2px;
    box-shadow: 0 0 1px #B3B3B3;
    cursor: pointer;
}

