.md-editor{
    position: relative;
}

.md-editor .tab-content{
    padding-top: 10px;
}

.md-editor textarea{
    background-color: #fafafa;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid #ccc!important;
}

.md-editor textarea:focus{
    background-color: #fff;
    outline: none;
    box-shadow: none;
}

.md-tool{
    background-color: #fafafa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #ccc;
    border-bottom: 0;
}
.md-tool .dropdown-menu{
    min-width: 0;
}
.md-tool .btn-group button:last-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.md-tool button{
    border:#fafafa;
    background-color: #fafafa;
    outline: none!important;
}
.md-tool button:hover{
    background-color: #e6e6e6;
    border-color: #adadad;
}

.md-tool .md-h1 {
    font-size: 22px;
    font-weight: bold;
}

.md-tool .md-h2 {
    font-size: 20px;
    font-weight: bold;
}

.md-tool .md-h3 {
    font-size: 18px;
    font-weight: bold;
}

.md-tool .md-h4 {
    font-size: 16px;
    font-weight: bold;
}

.md-tool .md-h5 {
    font-size: 14px;
    font-weight: bold;
}

.md-tool .md-h6 {
    font-size: 12px;
    font-weight: bold;
}

.md-tool .md-btn{
    outline: none;
}

.md-content{
    padding:5px 10px;
}
.md-content img{
    max-width: 100%;
}
.md-content img {
    max-width: 100%;
}

.md-content div {
    overflow: auto;
}

.md-content blockquote {
    font-size: 14px;
}

.md-content code {
    font-size: 12px;
}

.md-content h1 {
    font-size: 30px;
}
.md-content h2 {
    font-size: 27px;
}
.md-content h3 {
    font-size: 24px;
}
.md-content h4 {
    font-size: 21px;
}
.md-content h5 {
    font-size: 18px;
}
.md-content h6 {
    font-size: 16px;
}

.md-content table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    margin-bottom: 20px;
}

.md-content table th {
    font-weight: bold
}

.md-content table th,.md-content table td {
    padding: 6px 13px;
    border: 1px solid #ddd
}

.md-content table tr {
    background-color: #fff;
    border-top: 1px solid #ccc
}

.md-content table tr:nth-child(2n) {
    background-color: #f8f8f8
}

#mdUploadBtn{
    border: dotted #ccc 2px;
    line-height: 40px;
    text-align: center;
    color: #999999;
}

#mdUploadBtn:hover{
    border: dotted #B3B3B3 2px;
    box-shadow: 0 0 1px #B3B3B3;
    cursor: pointer;
}

