<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/common/img/favicon.ico">
<title>管理页面</title>

<!--<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">-->
<link href="/module/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/module/pace/themes/blue/pace-theme-flash.css" rel="stylesheet">
<script src="/module/pace/pace.min.js"></script>
<link rel="stylesheet" href="/admin/css/admin.css"/>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->