<div class="md-editor">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#md-input" data-toggle="tab">内容</a></li>
        <li><a href="#md-preview" data-toggle="tab">预览</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="md-input">
            <input id="content" name="content" type="hidden">
            <div class="md-tool">
                <div class="btn-group btn-group-sm">
                    <div class="btn-group btn-group-sm md-btn-previews" role="group" data-container="body" title="标题大小">
                        <button type="button" class="btn btn-default md-btn md-btn-preview dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-header"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a onclick="mdEditor.doHeader(1)" href="javascript:;" class="md-h1">h1</a></li>
                            <li><a onclick="mdEditor.doHeader(2)" href="javascript:;"  class="md-h2">h2</a></li>
                            <li><a onclick="mdEditor.doHeader(3)" href="javascript:;"  class="md-h3">h3</a></li>
                            <li><a onclick="mdEditor.doHeader(4)" href="javascript:;"  class="md-h4">h4</a></li>
                            <li><a onclick="mdEditor.doHeader(5)" href="javascript:;"  class="md-h5">h5</a></li>
                            <li><a onclick="mdEditor.doHeader(6)" href="javascript:;"  class="md-h6">h6</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-default data-tooltip md-btn md-btn-bold" data-container="body" title="加粗"><span class="glyphicon glyphicon-bold"></span></button>
                    <button type="button" class="btn btn-default data-tooltip md-btn md-btn-italic" data-container="body" title="斜体"><span class="glyphicon glyphicon-italic"></span></button>
                    <button type="button" class="btn btn-default data-tooltip md-btn md-btn-picture" data-container="body" title="嵌入图片"><span class="glyphicon glyphicon-picture"></span></button>
                    <button type="button" class="btn btn-default data-tooltip md-btn md-btn-link" data-container="body" title="嵌入链接"><span class="glyphicon glyphicon-link"></span></button>
                    <button type="button" class="btn btn-default data-tooltip md-btn md-btn-code" data-container="body" title="嵌入代码"><span class="fa fa-code"></span></button>
                    <button type="button" class="btn btn-default data-tooltip md-btn md-btn-paperclip" data-container="body" title="嵌入附件"><span class="glyphicon glyphicon-paperclip"></span></button>
                    <button type="button" class="btn btn-default data-tooltip md-btn md-btn-quoteleft" data-container="body" title="嵌入引用"><i class="fa fa-quote-left"></i></button>
                    <button type="button" class="btn btn-default data-tooltip md-btn md-btn-listol" data-container="body" title="有序列表"><i class="fa fa-list-ol"></i></button>
                    <button type="button" class="btn btn-default data-tooltip md-btn md-btn-listul" data-container="body" title="无序列表"><i class="fa fa-list-ul"></i></button>
                    <button type="button" class="btn btn-default data-tooltip md-btn md-btn-listalt" data-container="body" title="待做列表"><i class="fa fa-list-alt"></i></button>
                    <button type="button" class="btn btn-default data-tooltip md-btn md-btn-fullscreen" data-container="body" title="全屏"><i class="glyphicon glyphicon-fullscreen"></i></button>
                </div>
            </div>
            <textarea name="content_md" id="content_md" rows="30" class="form-control"></textarea>
        </div>
        <div class="tab-pane" id="md-preview">
            <div class="md-content"></div>
        </div>
    </div>
    <div id="mdUploadModal" class="modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">图片/附件</h4>
                </div>
                <div class="modal-body">
                    <div id="mdUploadBtn" class="mdUploadBtn">上传图片/附件</div>
                    <iframe id="mdUploadFrame" name="mdUploadFrame" class="hidden" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>