td span.divider {
    margin: 0;
    color: #ddd;
}

.dropdown .dropdown-toggle .caret{
    transition:transform 0.2s
}
.dropdown.open .dropdown-toggle .caret{
    transform: rotate(180deg);
    transition:transform 0.2s
}

.login-page {
    background: #d2d6de;
}

.login-box {
    width: 360px;
    margin: 7% auto;
}

.login-box-title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
}

.login-box-body {
    background: #fff;
    padding: 20px;
    color: #666;
}

.upload-img-box{
    display: table;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 130px;
    width: 100%;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
}

.upload-img-box .upload-operate {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}

.upload-img-box .upload-operate .upload-tip-img{
    font-size: 42px;
    color: #CCCCCC;
}

.upload-img-box .upload-operate .upload-tip {
    color: #777;
    font-size: 12px;
}
.upload-img-box .upload-file {
    display: none;
}
.upload-img-box .upload-img {
    display: inline-block;
    max-height: 100%;
    width: auto;
}